body {
  font-family: "Consolas", monospace;
  font-size: clamp(1rem, 2vw, 1.4rem); /* Leggermente più grande */
  background-color: #f4f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 1.8rem);
}

.card {
  max-width: 100%;
  margin: auto;
}

.card-body {
  max-height: clamp(200px, 50vh, 600px);
  overflow-y: auto;
}

.card.border-warning {
  border: 3px solid #ff5722 !important;
  border-radius: 8px;
}

.card a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s ease;
}

.card a:hover {
  color: #ff5722;
  text-decoration: underline;
}

.table-responsive {
  overflow-x: auto;
  display: block;
  max-width: 100%;
}

.table {
  width: 100%;
  table-layout: auto;
}
