body {
  font-family: "Consolas", monospace;
  font-size: 20px;
  background-color: #f4f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.card.border-warning {
  border: 3px solid #ff5722 !important; /* Colore del bordo */
  border-radius: 8px; /* Angoli arrotondati */
}

/* Aggiungere uno stile per i link all'interno della card */
.card a {
  color: black; /* Colore del link arancione */
  text-decoration: none; /* Rimuove la sottolineatura */
  font-weight: bold; /* Grassetto per i link */
  transition: color 0.1s ease; /* Effetto di transizione per il colore */
}

.card a:hover {
  color: #ff5722; /* Colore più scuro al passaggio del mouse */
  text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del mouse */
}
