{% extends "base.html" %} {% block content %}
<div class="card border-warning mt-3">
  <div class="card-header bg-dark text-white">
    <h2 class="card-title text-center">
      {{ game.home_team }} {{ game.home_score }} - {{ game.away_team }} {{
      game.away_score }}
    </h2>
    <h3 class="card-subtitle text-center">
      <i class="bi bi-geo-alt-fill me-2"></i>{{ game.location }}
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>PLAYER</th>
            <th>PTS</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>PF</th>
          </tr>
        </thead>
        <tbody>
          {% for stat in player_stats %}
          <tr>
            <td>
              <a
                href="{{ url_for('get_player', id=stat.id) }}"
                class="table-link"
                >{{ stat.name }}</a
              >
            </td>
            <td>{{ stat.pts }}</td>
            <td>{{ stat.reb }}</td>
            <td>{{ stat.ast }}</td>
            <td>{{ stat.stl }}</td>
            <td>{{ stat.blk }}</td>
            <td>{{ stat.turn }}</td>
            <td>{{ stat.pf }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
