{% extends "base.html" %} {% block content %}
<div class="row g-4 mt-0">
  <!-- Box Games -->
  <div class="col-md-6">
    <div class="card border-warning">
      <div class="card-header bg-dark text-light text-center">
        <h2>Games</h2>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto">
        <ul class="list-group">
          {% for game in games %}
          <li class="list-group-item">
            <span class="text-muted">
              <i class="bi bi-calendar"></i> {{ game['date'] }}
            </span>
            <br />
            <a href="{{ url_for('get_game', id=game['id']) }}">
              <span>{{ game['home_team'] }} vs {{ game['away_team'] }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- Box Players -->
  <div class="col-md-6">
    <div class="card border-warning">
      <div class="card-header bg-dark text-white text-center">
        <h2>Players</h2>
      </div>
      <div class="card-body" style="max-height: 400px; overflow-y: auto">
        <ul class="list-group">
          {% for player in players %}
          <li class="list-group-item">
            <span class="badge bg-warning text-dark"
              >#{{player['jersey'] }}</span
            >
            <a href="{{ url_for('get_player', id=player['id']) }}">
              <span>{{ player['name'] }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
