{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center text-warning mb-4">Welcome to hoop insights!</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h2 class="text-center" style="color: #ff7f00">Games</h2>
        <ul>
          {% for game in games %}
          <li>
            <a href="{{ url_for('get_game', id=game['id']) }}"
              >{{ game['home_team'] }} vs {{ game['away_team'] }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box">
        <h2 class="text-center" style="color: #ff7f00">Players</h2>
        <ul>
          {% for player in players %}
          <li>
            <a href="{{ url_for('get_player', id=player['id']) }}"
              >#{{ player['jersey'] }} {{ player['name'] }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
