{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Box Games -->
    <div class="col-md-6">
      <div class="box border border-warning shadow p-3">
        <h1 class="text-center mb-2" style="color: #ff7f00">Games</h1>
        <ul class="list-group">
          {% for game in games %}
          <li class="list-group-item">
            <a href="{{ url_for('get_game', id=game['id']) }}"
              >{{ game['home_team'] }} vs {{ game['away_team'] }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Box Players -->
    <div class="col-md-6">
      <div class="box border border-warning shadow p-3">
        <h1 class="text-center mb-2" style="color: #ff7f00">Players</h1>
        <ul class="list-group">
          {% for player in players %}
          <li class="list-group-item">
            <a href="{{ url_for('get_player', id=player['id']) }}"
              >#{{ player['jersey'] }} {{ player['name'] }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
