{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center text-warning mb-4">{{ player['name'] }}</h1>

  <!-- Tabella compatta per le informazioni del giocatore -->
  <div class="player-info">
    <table class="table table-bordered table-striped table-hover">
      <thead class="bg-dark text-white">
        <tr>
          <th>Jersey Number</th>
          <th>Posistion</th>
          <th>Height</th>
          <th>Weight</th>
          <th>Age</th>
          <th>PPG</th>
          <th>APG</th>
          <th>RPG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#{{ player['jersey'] }}</td>
          <td>{{ player['position'] }}</td>
          <td>{{ player['height'] }} m</td>
          <td>{{ player['weight'] }} kg</td>
          <td>{{ player['age'] }} years</td>
          <td>{{ player['ppg'] }}</td>
          <td>{{ player['apg'] }}</td>
          <td>{{ player['rpg'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
